body{
  background-image: url(bg.jpg) no-repeat center center / cover;
  text-align: center;
  font-family: Times New Roman, regular;
}
.done{
  text-decoration: line-through;
}
ul{
  list-style-type: none;
}
