body{
  background-image: url('bg.jpg');
  background-size: 100vw 100vh;
  text-align: center;
  font-family: Times New Roman, regular;
}
.done{
  text-decoration: line-through;
}
ul{
  list-style-type: none;
}
